ansible==latest
ansible-core==latest
boto==latest
boto3==latest
botocore==latest
cffi==latest
cryptography==latest
Jinja2==latest
jmespath==latest
MarkupSafe==latest
packaging==latest
pycparser==latest
pyparsing==latest
python-dateutil==latest
PyYAML==latest
resolvelib==latest
s3transfer==latest
six==latest
urllib3==latest
